<!DOCTYPE html>
<html>
<head>
    

    <title>Edit profile page</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{.GoogleMapAPIKey}}&libraries=places"></script>

    <script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initialize() {
  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('address')),
      { types: ['geocode'] });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    fillInAddress();
  });
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
// [END region_geolocation]
    </script>
    
        
    <style>
           input[type="text"] {width: 300px;} 
    </style>
</head>

<body onload="initialize()">
    <p><a href="/">Home</a> || <a href="/user/profile">Profile</a> || <a href="/logout">Logout</a></p>
    <h4>Hello! <u>{{if .Name}}{{.Name}}{{else}}{{.Email}}{{end}}</u></h4>
    <h1>Edit profile page</h1>
    <form method="post" action="/user/profile/edit">
        {{range .Error}}
            <p style="color: red; font-weight: bold">{{.}}</p>
        {{end}}
        {{if .Success}}
            <p style="color: green; font-weight: bold">{{.Success}}</p>
        {{end}}
        <table  border="0" >
            <tr>
                <td>User ID:</td>
                <td><strong>{{.ID}}</strong></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="text" name="email" value="{{.Email}}" ></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name" value="{{.Name}}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="address" value="{{.Address}}" id="address" onFocus="geolocate()"></td>
            </tr>
            <tr>
                <td>Telephone:</td>
                <td><input type="text" name="telephone" value="{{.Telephone}}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Edit Profile"></td>
            </tr>
        </table>
    </form>
</body>
</html>