<!DOCTYPE html>
<html>
<head>
    <title>Google Auth</title>
</head>

<body>
    <p><a href="/">Home</a> || <a href="/login">Login</a> || <a href="/signup">Signup</a></p>
    <h1>Google Auth error</h1>
     {{if .Error}}
        <h2 style="color: red; font-weight: bold">Error: {{.Error}}</h2>
     {{end}}
     {{if .Email}}
        <h3 style="color: red; font-weight: bold">Email: {{.Email}}</h3>
     {{end}}
</body>
</html>