<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>

<body>
  {{if .Authenticated}}
    <p><a href="/">Home</a> || <a href="/user/profile">Profile</a> || <a href="/logout">Logout</a></p>
  {{else}}
    <p><a href="/">Home</a> || <a href="/login">Login</a> || <a href="/signup">Signup</a></p>
  {{end}}
  {{if .Authenticated}}  
    <h4>Hello! <u>{{if .Name}}{{.Name}}{{else}}{{.Email}}{{end}}</u></h4>
  {{end}}
  <h1>Home page</h1>
</body>
</html>