<!DOCTYPE html>
<html>
<head>
    <title>Login Up</title>
</head>

<body>
    <p><a href="/">Home</a> || <a href="/login">Login</a> || <a href="/signup">Signup</a></p>
    <h1>Login Page</h1>
    <form method="POST" action="/login">
        {{range .Error}}
        <p style="color: red; font-weight: bold">{{.}}</p>
        {{end}}
        <table  border="0">
            <tr>
                <td>Email Addres: </td>
                <td><input type="text" name="email" placeholder="email" value="{{.Email}}"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="password"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login">&nbsp;
                    <a href="#">Forgot password?</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><a href="/GoogleAuth">Login With Google</a></td>
            </tr>
        </table>
    </form>
</body>
</html>