<!DOCTYPE html>
<html>
<head>
    <title>Profile page</title>
</head>

<body>
    <p><a href="/">Home</a> || <a href="/user/profile">Profile</a> || <a href="/logout">Logout</a></p>
    <h4>Hello! <u>{{if .Name}}{{.Name}}{{else}}{{.Email}}{{end}}</u></h4>
    <h1>Profile page</h1>
    <table  border="1">
        <tr>
            <td>User ID:</td>
            <td><strong>{{.ID}}</strong></td>
        </tr>
        <tr>
            <td>Email Address:</td>
            <td><strong>{{.Email}}</strong></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><strong>{{if .Name}}{{.Name}}{{else}}---{{end}}</strong></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><strong>{{if .Address}}{{.Address}}{{else}}---{{end}}</strong></td>
        </tr>
        <tr>
            <td>Telephone:</td>
            <td><strong>{{if .Telephone}}{{.Telephone}}{{else}}---{{end}}</strong></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="/user/profile/edit">Edit Profile</a> || <a href="/user/password/update">Update password</a></td>
        </tr>
    </table>
</body>
</html>