<!DOCTYPE html>
<html>
<head>
    <title>Update password page</title>
        
    <style>
           input[type="text"] {width: 300px;} 
    </style>
</head>

<body>
    <p><a href="/">Home</a> || <a href="/user/profile">Profile</a> || <a href="/logout">Logout</a></p>
    <h4>Hello! <u>{{if .Name}}{{.Name}}{{else}}{{.Email}}{{end}}</u></h4>
    <h1>Update password page</h1>
    <form method="post" action="/user/password/update">
        {{range .Error}}
            <p style="color: red; font-weight: bold">{{.}}</p>
        {{end}}
        {{if .Success}}
            <p style="color: green; font-weight: bold">{{.Success}}</p>
        {{end}}
        <table  border="0" >
            <tr>
                <td>User ID:</td>
                <td><strong>{{.ID}}</strong></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>New password:</td>
                <td><input type="password" name="new_password"></td>
            </tr> <tr>
                <td></td>
                <td><input type="submit" value="Update Password"></td>
            </tr>
        </table>
    </form>
</body>
</html>